*{
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
}
body {
  background-color: #ecf0f5;
  margin: 0;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form{
  margin-top: 7vh;
  background-color: #fafafa;
  padding: 20px 10px;
  border-radius: 5px;
  border-width: 2px;
  border-color: #2196f3;
  border-style: dashed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button{
  margin-top: 20px;
  padding: 15px 20px;
  background-color: #4c87c4;
  border: none;
  color: #f7f9ff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}
p{
  color: #bdbdbd;
}
h1{
  text-align: center;
}
.active {
  border: 2px dashed #777;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0.5rem 0;
}

